body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #F9812A;
}
html{
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link-log{
  background-color: red;
}


#navbar{
  width: 100vw;
  height: 75px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.r-nav{
  display: flex;
  align-items: center;
  width: 50%;
  height: 50px;
  justify-content: space-around;
  /* background-color: lightpink; */

}

#content-wrap{
  background-color: white;
  border-radius: 25px 25px 0px 0px;
  height: calc(100vh - 75px);
  padding: 20px;
}

.page-title{
  margin-top: 0px;
}
#calendar-wrap{
  width: 625px;
  overflow-x: auto;
}

#mods-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mods-wrap>h4{
  margin: 0px;
}
#daily-form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;

}
#daily-btn-wrap{
  display: flex;
  justify-content: space-between;
}

#daily-form>input[type="submit"]{
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(173, 173, 173);
}
#form-date{
  margin: 0 auto;
}
.form-opt{
  padding: 10px;
  width: 48%;
  border-radius: 10px;
  border: 2px solid rgb(173, 173, 173);
}

#notes{
  resize: none;
  height: 100px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgb(173, 173, 173);
  
}
/* .ac-item{
  width: 22px !important;
  height: 22px !important;
}  */